html {
  font-size: 10px;
}
html,
body {
  height: 100%;  /* prevent horizontal scrolling */
  overflow: hidden;
}
body {
  font-family: "metropolis-regular", sans-serif;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.765;
  color: #757575;
  margin: 0;
  padding: 0;
}
/* -------------------------------------------------------------------
 * ## home slides  - (_site-layout.scss)
 * ------------------------------------------------------------------- */
.home-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-slider-img {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 100vh;
}
/* -------------------------------------------------------------------
 * ## home content - (_site-layout.scss)
 * ------------------------------------------------------------------- */
.home-content h3 {
  font-family: "metropolis-medium", sans-serif;
  font-size: 1.4rem;
  line-height: 1.286;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: white;
  margin-top: 0;
  margin-bottom: 3rem;
  padding-left: 55px;
  position: relative;
}
.home-content h3::before {
  content: "";
  display: block;
  background-color: rgb(61,96,64);
  width: 40px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
}
.home-content h1 {
  font-size: 40px;
  line-height: 1.219;
  margin-top: 0;
  color: #FFFFFF;
  letter-spacing: 0;
}
.home-content__main {
  max-width: 100%;
  padding-top: 100px;
  position: relative;
  overflow: hidden;
   padding-left: 30px;
}
.home-content__counter {
  padding-right: 1000px;
}
.home-content__counter .top {
  margin-bottom: 1.5rem;
  position: relative;
  left: -1.5rem;
}
.home-content__counter .time {
  color: #FFFFFF;
  font-family: "metropolis-light", sans-serif;
  font-size: 3rem;
  line-height: 1;
  display: block;
  padding-right: 1.5rem;
  margin: 0 1.5rem;
  min-width: 6rem;
  position: relative;
}
.home-content__counter .time span {
  color: rgba(255, 255, 255, 0.3);
  font-size: 2rem;
  bottom: 0;
  right: 0;
}
.home-content__counter .months {
  font-family: "metropolis-extralight", sans-serif;
  font-size: 17.5rem;
  letter-spacing: -.5rem;
  padding-right: 6rem;
  margin-top: -0.9rem;
}
.home-content__counter .months span {
  display: inline-block;
  position: absolute;
  font-family: "metropolis-regular", sans-serif;
  letter-spacing: 0;
  background-color: rgb(61,96,64);
  color: #FFFFFF;
  padding: 9px 12px;
  bottom: 1.3em;
}
@media only screen and (max-width:1500px) {
  .home-content h1 {
    font-size: 5.8rem;
  }
  .home-content__main {
    max-width: 100%;
  }
  .home-content__text p {
    font-size: 1.7rem;
    margin-top: 4.8rem;
    margin-right: 10%;
  }
  .home-content__counter .time {
    font-size: 2.8rem;
    min-width: 5.8rem;
  }
  .home-content__counter .time span {
    font-size: 1.8rem;
  }
  .home-content__counter .months {
    font-size: 14.5rem;
  }
  .home-content__counter .months span {
    padding: 6px 12px;
  }
}
@media only screen and (max-width:1400px) {
  .home-content h1 {
    font-size: 5rem;
  }
  .home-content__main {
    max-width: 100%;
    }
  .home-content__text p {
    font-size: 1.6rem;
    margin-top: 4.2rem;
    margin-right: 5%;
  }
  .home-content__counter .time {
    font-size: 2.4rem;
    min-width: 5rem;
  }
  .home-content__counter .time span {
    font-size: 1.7rem;
  }
  .home-content__counter .months {
    font-size: 12rem;
    padding-right: 5.5rem;
  }
  .home-content__counter .months span {
    padding: 6px 10px;
  }
  .home-content__line {
    right: 54px;
  }
}
/*screen when small*/
@media only screen and (max-width:1200px) {
  .home-content h3 {
    padding-left: 45px;
  }
  .home-content h3::before {
    width: 30px;
  }
  .home-content h1 {
    font-size: 4.2rem;
  }
  .home-content__main {
    max-width: 100%;
    padding-left: 30px;
  }
  .home-content__text {
    padding-right: 30px;
  }
  .home-content__text p {
    font-size: 1.5rem;
    margin-top: 3.6rem;
  }
  .home-content__counter .time {
    font-size: 2rem;
    min-width: 4rem;
  }
  .home-content__counter .time span {
    font-size: 1.6rem;
  }
  .home-content__counter .months {
    font-size: 11rem;
    padding-right: 5.5rem;
  }
}
