body, html {
  height: 100%;
font-family: Arial, Helvetica, sans-serif;
   background-image: url("https://www.plasticstoday.com/sites/cet.com/files/PTI-ecommerce-AdobeStock_207963206.jpg");
   background-size: cover;

   margin:0px;
   padding: 0px;
}

* {
  box-sizing: border-box;
}

/* Add styles to the form container */
.container {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width:400px;
  padding: 16px;
  background-color: rgba(0,0,0,0.4);
  height:500px;
  top:35px;
  color:#DDD;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: 1px solid #DDD;
  border-radius: 10px;
  background: transparent;
  font-size: large;
  color:#DDD;

}

/* Set a style for the submit button */
.btn {
  background-color: rgb(61,96,64);
  color: white;
  font-size: large;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;

}

.btn:hover {
  opacity: 0.8;
}


.logal{
 background-color:#444;
margin:0;
height:50px;
padding:8px 0;
}
.logallogo
{
  color:#15D8B1;
  font-size:30px;
  margin:20px;
  font-weight: bold;
}
h1{color:#DDD;
text-align: center;}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
