body{
  background-color: rgb(217,217,217);
  background-image: url("https://cdn.shopify.com/s/files/1/0898/4708/articles/global-ecommerce-marketplace.png?v=1538348244");
  background-size: 100% 550px;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
/* Callout box - fixed position at the bottom of the page */

.callout {
  position: fixed;
  top: 10%;
  right: 35%;
  left: 35%;
  bottom: 70%;
  width: 30%;
  height: 30%;
}

/* Callout header */
.callout-header {
  padding: 25px 15px;
  background: #555;
  font-size: 30px;
  color: white;
}

/* Callout container/body */
.callout-container {
  padding: 15px;
  background-color: #ccc;
  color: black
}
.check-info{
	display: inline-block;
}
.place{
	text-align: center;
	margin: 0 auto;
}
.p-order{
	text-align: center;
	background-color: rgb(61,96,64);
	color: #BBB;
	width: 150px;
	height: 40px;
	border-radius: 20px;
}
/* Close button */
.closebtn2 {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* Change color on mouse-over */
.closebtn2:hover {
  color: lightgrey;
}
.footer{
	position: absolute;
	bottom: 0;
}
