body{background-color: #DDD;
font-family: Arial, Helvetica, sans-serif;}
.k{border:solid;
margin-top: 15px;}
.prob{margin:15px;
margin-top: 5px;
margin-bottom: 10px;
font-size:30px;
font-style:inherit;
font-weight:bold; }
.emaildesign{
display:block;
margin: 15px;
margin-bottom: 0px;
font-size:20px;
font-style:inherit;
font-weight:bold;}
.buttonsdesign{text-align:center;}

.d{
margin:15px;
margin-top:5px;}
.inpu{
margin:15px;}
.hh{
text-align:center;
margin: 15px;
font-size:50px;
font-style:inherit !important;
font-weight:bold!important;}
/*buttons*/
.sub{margin:15px;
  width:90px;
outline:none!important;
height: 45px;
border-radius: 12px;
margin-bottom:5px;
background-color:rgb(61,96,64)!important;
color:#BBB!important;
border-color:rgb(61,96,64)!important;}
.can{width:90px;
  margin:15px;
outline:none!important;
height: 45px;
border-radius: 12px;
margin-bottom:5px;
background-color:#BBB!important;
color:#333!important;
border-color:rgb(61,96,64)!important;}}
