body{
	background-color: #333;

	width: 100%;
	overflow-x: hidden;
}
.card{
	height: 570px;
	border:none;
	margin: 10px;
	background-color: white;
	color: #333;
	padding-bottom: 20px;

}
.card-text{
	padding-top: 10px;
	border-top: 1px solid #333;
	border-width: 80%;
}
.card-body{
	height: 120px;
}
.item-price{
	color:rgb(61,96,64);
	font-family: "Lucida Handwriting", Arial; /*second font is a backup*/
	font-weight: bold;
	font-size: 25px;
}
.add-btn{
	text-align: center;
}
.card-btn,.card-btn2{
	background-color: rgb(61,96,64);
	outline: none !important;
	text-align: center;
	display: block;
	margin: auto;
	color: #BBB;
	width:250px;
	height: 60px;
	border: 1px solid #333;
	border-radius: 50px;
}
.card-btn2{
	margin-bottom: 10px;
}

.card a{
	color:#BBB;
}
.card a:hover,.card-btn:hover{
	color: white;
}
.card img{

	width:100%;
	height: 270px;
}
