body{
	background-color: #333;

	width: 100%;
	overflow-x: hidden;
}


/*image slider*/
.image_slider{
	display: inline;
	width:100%;
	height: 350px;
	overflow: hidden;
	z-index: 1;
}
.image_slider img{
	height:350px;
}

.col-md-3{
	border:none;
	padding: 0;
	border-radius: 0;
}
.card{
	height: 700px;
	border:none;
	border-radius: 0;
	margin: 5px;
	background-color: white;
	color: #333;
	padding-bottom: 50px;
}
.card-title{
	padding-top: 10px;
	border-top: 1px solid #333;
	border-width: 80%;
}
.card-body{
	height: 130px;
}
.item-price{
	color:rgb(61,96,64);
	font-family: "Lucida Handwriting", Arial; /*second font is a backup*/
	font-weight: bold;
	font-size: 25px;
}

.add-btn{
	text-align: center;
}
.card-btn,.card-btn2{
	background-color: rgb(61,96,64);
	outline: none !important;
	text-align: center;
	display: block;
	margin: auto;
	color: #BBB;
	width:300px;
	height: 60px;
	border: 1px solid #333;
	border-radius: 50px;

}
.card-btn2{
	margin-bottom: 20px;
}
.card a{
	color:#BBB;
}
.card a:hover,.card-btn:hover{
	color: white;
}
.card img{
	width:100%;
	height: 360px;
}

/* The sidebar menu */
.sidebar {
	padding-top: 30px;
	width: 0;
	height: 100%;
	position: fixed;
	z-index: 2; /* Stay on top */
	left: 0;
	top:0;
	background-color: #333;
	overflow-x: hidden;
	display: inline-block;
	transition: 0.5s
}
.category{
	margin-top: 30px;
	border-bottom: 1px solid #BBB;
}

/* The sidebar links */
.sidebar a {
	padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #BBB;
    display: block;
    transition: 0.3s;
}
.dropdown-btn{
	margin-top: 30px;
	border: none;
	border-bottom: 1px solid #BBB;
	width:100%;
	text-align: left;
	padding: 8px 8px 8px 32px;
	display: block;
	font-size: 25px;
	background-color: #333;
	color:#BBB;
}
/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
	color: white;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
	cursor: pointer;
	background-color: #333;
	color: #BBB;
	border: 1px solid #BBB;
}

.openbtn:hover {
  color: white;
}
.dropdown-container {
  display: none;
  background-color: #333;
  border-bottom:1px solid #BBB;
  padding-left: 8px;
}

/* Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
.footer{
	width: 100%;
	height: 150px;
	background-color: #333;
	color: #BBB;
	text-align: center;
}
